@font-face {
  font-family: "The Signature";
  src: url("../fonts/Thesignature.woff2") format("woff2"),
    url("../fonts/Thesignature.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "National 2 Narrow";
  src: url("../fonts/National2Narrow-Medium.woff2") format("woff2"),
    url("../fonts/National2Narrow-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk Text";
  src: url("../fonts/FoundersGroteskText-Regular.woff2") format("woff2"),
    url("../fonts/FoundersGroteskText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
